<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Node.js Render Page with Injected Data</title>
</head>

<body>
  <!-- For additional data route -->
  <h2>
    <%= description %>
  </h2>
  <p>The value is: <%= value %>
  </p>

</body>

</html>