<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Node.js Render Page with Injected Data</title>
</head>

<body>
  <h1>Welcome to <%= title %>
  </h1>
  <p>Today's date is <%= date %>
  </p>
</body>

</html>